//CUSTOM SCSS

$sotetebb: #141414;
$sotet: #181818;
$vilagos: #747474;
$vilagosabb: #a9a9a9;
$lila: #9f00cf;
$hatter: #424242;
$hatter1: #757575;
$szoveg: #ffffff;
$hatter2: #525252;
$hatter3: #474747;
$hatter4: #3b3b3b;
$bar1: #5b006b;
$bar2: #6b137a;
$sotetebbszoveg: #bebebe;


$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;


$primary: $bar1;
$secondary: $vilagos;


@import "../node_modules/bootstrap/scss/bootstrap.scss";

