//FOOLDAL SCSS

@use '../custom' as *;
@use '../reszek/mixins' as *;

body, body[data-theme="hc-off"]
{
       .fooldal-s
       {
              background-color: $hatter;
       }

       .display-2
       {
              margin-bottom: 1rem;
                     
                     padding: 5rem 0rem 5rem 0rem;
                     font-size: 55px;
       }

       .line
       {
              width: 35%;
              position: relative;
              border: none;
              height: 2px;
              background:white ;
              color: white;
              
       }

       .line2
       {
              width: 65%;
              position: relative;
              border: none;
              height: 2px;
              background:white ;
              color: white;
              
       }

       .line-text-div
       {
              padding-top: 3rem;
              padding-bottom: 15rem;
       }
       
       .hatter
       {
              background-image: url(/pics/háttérpng.png);
              height: 100%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              filter: blur(8px);
       }
       .video-leiras{
              color: white;
       }
}






